@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	/*background-color: #0c101f;*/
	color: #c0c0c0;
	font-size: clamp(14px, 2vw, 16px);
	padding: 0px;
	margin: 0px;
}



a {
  color: silver;
  text-decoration: none;
  text-align: center;
}

button{
	font-size: 1em;
	color: silver;
	background-color: inherit;
}

p{
	margin: 0em;
	padding: 0.5rem;
}

h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

h1{
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.875em;
}
h3{
	padding:0.5em 1em;
	text-align: center;
	font-size: 1.2em;
}

table{
	padding: 1rem 0.5rem;
	width: 100%;
	border: 1px solid #34353a;
}
td{
	padding: 0.25rem;
}
/*
.search-bar{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background-color:transparent;
	justify-content: left;
	gap: 30px;
	margin: 20px 15%;
}*/

.vertical_input_form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: #34353a solid 1px;
}

.vertical_input_form> div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vertical_input_form> div > div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.vertical_input_form> div>div>div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}

.large_input_field{
	width:  25em;
	height: 4em;
	color: silver;
	background-color: #0c0e1b;
	border: #34353a solid 1px;
	padding: 0em 1em;
	box-sizing: border-box;
}

.body{
	width: 80%;
	min-width: 340px;
	display: flex;
	gap: 1.25em;
	flex-direction: column;
	align-items: stretch;
	margin: auto;
	padding-top: 6em;
}

.row_flex{
	display: flex;
	flex-direction: row !important;
	justify-content: space-around;
	flex-wrap: wrap;
}

.color1{
	background-color: #0c0e1b;
}
.color2{
	background-color: #34353a;
}




.number {
    font-weight: bold;
    color: rgb(215, 213, 213) ;
}

.isClicked{
	background-color: #34353a;
}

.star5_color{
	border: solid #48300b 2px;
}

.star4_color{
	border: solid #300b62 2px;
}