@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 1.2vw; /* 1/50th of the viewport width */
}

@media (max-width: 600px) {
	.key-element {
	  	font-size: 6px;
	}
}

body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	/*background-color: #0c101f;*/
}

.screenFit{
    font-size: clamp(8px, 1.5vw, 16px) !important;
}
.body{
	width: 80%;
	min-width: 340px;
	display: flex;
	gap: 1.25em;
	flex-direction: column;
	align-items: stretch;
	margin: auto;
	padding-top: 6em;
}
